{
  "openapi": "3.0.2",
  "servers": [
    {
      "url": "https://api.openweathermap.org/data/2.5"
    }
  ],
  "info": {
    "description": "Finxact Core API",
    "title": "Finxact API.",
    "termsOfService": "https://openweathermap.org/terms",
    "version": "1.0"
  },
  "paths": {
    "/v1/accounts": {
      "post": {
        "tags": [
          "account-management"
        ],
        "summary": "Open account.",
        "operationId": "Open",
        "parameters": [
          {
            "$ref": "#/components/parameters/account_number"
          },
          {
            "$ref": "#/components/parameters/service_brancn"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "account_number": {
        "in": "rq_body",
        "required": true,
        "name": "account_number",
        "description": "**City name**. *Example: London*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and optionally the country code divided by a comma; use ISO 3166 country codes.",
        "schema": {
          "type": "number(12)"
        }
      },
      "service_brancn": {
        "in": "rq_body",
        "name": "service_brancn",
        "description": "**City name**. *Example: London*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and optionally the country code divided by a comma; use ISO 3166 country codes.",
        "schema": {
          "type": "number"
        }
      }
    }
  }
}